{
    "baseUrl": "http://localhost:8080",
    "dataPath1": "~/.ipehr/data",
    "host": "localhost:8080",
    "keystoreKey": "fb5b72b901e8419969057bc7f73f8731bf3e3599ee3d8fac26b2c4bc6c7b6627",
    "creatingSystemId": "openEHRSys.example.com",
    "compressionEnabled": true,
    "compressionLevel": 5,
    "defaultUserId": "8dc598d2-a3fa-462b-a513-a69a32c5ab4f",
    "defaultGroupAccessId": "6a781f00-82fd-40fc-8777-cc2eda31414b",
    "statsServiceURL": "https://stat.ipehr.org",
    "storage": {
        "localfile": {
            "path": "~/.ipehr/data/storage"
        },
        "ipfs": {
            "endpointURLs": [
                "http://lotus.dev.bsn.si:5001/api/v0"
            ]
        },
        "filecoin": {
            "lotusRPCEndpoint": "http://lotus.dev.bsn.si/rpc/v1",
            "baseURL": "http://lotus.dev.bsn.si",
            "authToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJBbGxvdyI6WyJyZWFkIiwid3JpdGUiLCJzaWduIiwiYWRtaW4iXX0.yAIABB7qXJnC_cNNdP3zTk0BbF-TNuX6AzbwcuXsGU4",
            "dealsMaxPrice": 1000000000,
            "miners": ["t01129", "t01130"]
        }
    },
    "contract": {
        "addressEhrIndex": "0xF1DD803076184aFA468d09535A89316502F75f07",
        "addressAccessStore": "0x23d6152faD9AF8C6E762201884071B60eeE44960",
        "addressUsers": "0x589F60f143AC5A7ab62738c3A8f66A7556Bc6041",
        "addressDataStore": "0x911C8b389FFD8f5Ae93004B2e19a1aC8A7e7963a",
        "endpoint": "https://goerli.infura.io/v3/a1fe02a4f1be4fadb5a393992e211b19",
        "privKeyPath": "~/.ipehr/.blockchain.key",
        "gasTipCap" : 100000
    },
    "db": {
        "filePath": "~/.ipehr/data/local.db"
    }
}
