{
    "baseUrl": "http://localhost:8080",
    "dataPath": "../data",
    "host": "localhost:8080",
    "keystoreKey": "fb5b72b901e8419969057bc7f73f8731bf3e3599ee3d8fac26b2c4bc6c7b6627",
    "creatingSystemId": "openEHRSys.example.com",
    "compressionEnabled": true,
    "compressionLevel": 5,
    "defaultUserId": "8dc598d2-a3fa-462b-a513-a69a32c5ab4f",
    "defaultGroupAccessId": "6a781f00-82fd-40fc-8777-cc2eda31414b"
    "storage": {
        "localfile": {
            "path": "../data/storage"
        },
        "ipfs": {
            "endpointURLs": [
                "http://lotus.dev.bsn.si:5001/api/v0",
                "http://lotus2.dev.bsn.si:5001/api/v0",
                "http://lotus3.dev.bsn.si:5001/api/v0"
            ]
        },
        "filecoin": {
            "lotusRPCEndpoint": "http://lotus.dev.bsn.si/rpc/v1",
            "baseURL": "http://lotus.dev.bsn.si",
            "authToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJBbGxvdyI6WyJyZWFkIiwid3JpdGUiLCJzaWduIiwiYWRtaW4iXX0.IXRD51_C2V8RcgkAjFg3ZKl6eKGV_5Moda535yuolX4",
            "dealsMaxPrice": 1000000000,
            "miners": ["f01412953", "f01545009"]
        }
    },
    "contract": {
        "address": "0xe7f1725E7734CE288F8367e1Bb143E90bb3F0512",
        "endpoint": "http://7.7.7.30:8545",
        "endpoint2": "https://goerli.infura.io/v3/<API-KEY>",
        "privKeyPath": "../.blockchain.key",
        "gasTipCap" : 100000
    },
    "db": {
        "filePath": "../data/local.db"
    }
}
