{
	"host": "localhost:8080",
	"baseURL": "http://localhost:8080",
	"localDB": {
		"path": "/srv/IPEHR-gateway/db/local.db",
		"migrations": "/srv/IPEHR-gateway/db/migrations"
	},
    "sync": {
		"endpoint": "https://api.hyperspace.node.glif.io/rpc/v1",
        "startBlock": 228033,
        "contracts": [
            {
                "name": "ehrIndex",
                "address": "0x40262d9ab8891b8a830Ce29777a258Af86e30c8F",
            },
            {
                "name": "users",
                "address": "0xFF576328EC76e7f88bbE1b733c11eFAb7c7F1BAC",
            },
            {
                "name": "dataStore",
                "address": "0x1d53a8af051C5485E1f1639A92f83D66efb6eABD"
            }
        ]
    }
}
